body {
    font-family: sans-serif;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.name {
    width: 400px;
    border-radius: 100px;
    background-color: lightsalmon;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 30px 0px;
}

.button {
    margin-left: 150px;
    margin-top: 20px;
    border: 0;
    padding: 10px 20px;
    font-size: 15px;
    background-color: #ef866c;
    width: 80px;
    border-radius: 20px;
    color: white;
}